<div class="search-container">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="search-box">
      <input
        class="search-input"
        type="text"
        placeholder="Search for user"
        id="name"
        name="name"
        ngModel
        required=""
      />
      <button [disabled]="!f.valid" type="submit" class="search-button">
        <img class="search-icon" src="../../assets/searchIcon.png" />SEARCH
      </button>
    </div>
  </form>

  <h6>SEARCH RESULTS</h6>
  <div class="search-results">
    <div *ngIf="searchUser.length > 0 && f.valid; then search; else user"></div>
    <ng-template #search>
      <app-user-box
        #search
        *ngFor="let user of searchUser"
        (deleteUser)="deleteUser($event)"
        [user]="user"
      ></app-user-box>
    </ng-template>
    <ng-template #user>
      <app-user-box
        #user
        *ngFor="let user of users"
        (deleteUser)="deleteUser($event)"
        [user]="user"
      ></app-user-box>
    </ng-template>
  </div>
</div>
